<a href="https://colab.research.google.com/github/kerdokurs/ids_project/blob/master/IDS_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IDS Project

TODO: Datasetidest üleliigsete andmete eemaldus (covid, ilmastik, rattaringlus datasetides jätta alles andmed vahemikus märts 01 kuni okt 31.)

In [1]:
import pandas as pd
import numpy as np

In [25]:
# Importing weather data
weather_data = pd.read_csv("data/weather_2019_2021.csv", na_values=' ', dtype=np.float, parse_dates=["Aeg"])

In [27]:
print(f"Dataset size: {weather_data.shape}")
print(weather_data.dtypes)
weather_data.head()

Dataset size: (266401, 7)
Aeg              datetime64[ns]
 Temperatuur            float64
 Niiskus                float64
 Õhurõhk                float64
 Tuule kiirus           float64
 Tuule suund            float64
 Sademed                float64
dtype: object

,Aeg,Temperatuur,Niiskus,Õhurõhk,Tuule kiirus,Tuule suund,Sademed
0,2019-05-01 01:00:00,7.360671,55.550208,1013.216400,3.354964,125.027044,0.0
1,2019-05-01 01:05:00,7.293279,54.974023,1013.195433,3.265612,129.091880,0.0
2,2019-05-01 01:10:00,7.094379,55.334567,1013.161867,3.135003,130.722977,0.0
3,2019-05-01 01:15:00,6.909144,55.569861,1013.123967,2.840234,130.011621,0.0
4,2019-05-01 01:20:00,6.864302,56.075395,1013.063156,2.822092,129.095418,0.0

In [6]:
# Clean data columns
weather_data.columns = weather_data.columns.map(lambda val: val.strip() if isinstance(val, str) else val)
weather_data.columns

Index(['Aeg', 'Temperatuur', 'Niiskus', 'Õhurõhk', 'Tuule kiirus',
       'Tuule suund', 'Sademed'],
      dtype='object')

In [7]:
# Clean data
weather_data.fillna(0, inplace=True)

In [ ]:
# Import bike data
bike_data_2019 = pd.read_csv("data/rattaringlus/2019.csv")
bike_data_2020 = pd.read_csv("data/rattaringlus/2020.csv")
bike_data_2021 = pd.read_csv("data/rattaringlus/2021.csv")

In [ ]:
# Clean bike data by only including data in daterange march 1st to oct 31st
bike_data_2019 = bike_data_2019[(bike_data_2019["unlockedat"] > "2019-03-01") & (bike_data_2019["unlockedat"] < "2019-10-31")]
bike_data_2020 = bike_data_2020[(bike_data_2020["unlockedat"] > "2020-03-01") & (bike_data_2020["unlockedat"] < "2020-10-31")]
bike_data_2021 = bike_data_2021[(bike_data_2021["unlockedat"] > "2021-03-01") & (bike_data_2021["unlockedat"] < "2021-10-31")]

bike_data_2019 = bike_data_2019.append(bike_data_2020)
bike_data = bike_data_2019.append(bike_data_2021)

bike_data = bike_data.sort_values(by="unlockedat")
bike_data

In [ ]:
# Import covid data
covid_data_raw = pd.read_csv("data/covid.csv")
covid_data_raw = covid_data_raw.sort_values(by="StatisticsDate")
covid_data_2020 = covid_data_raw[(covid_data_raw["StatisticsDate"] > "2020-03-01") & (covid_data_raw["StatisticsDate"] < "2020-10-31")]
covid_data_2021 = covid_data_raw[(covid_data_raw["StatisticsDate"] > "2021-03-01") & (covid_data_["StatisticsDate"] < "2021-10-31")]
covid_data

In [ ]:
# Clean covid data