<a href="https://colab.research.google.com/github/kerdokurs/ids_project/blob/master/IDS_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IDS Project

TODO: Datasetidest üleliigsete andmete eemaldus (covid, ilmastik, rattaringlus datasetides jätta alles andmed vahemikus märts 01 kuni okt 31.)

In [2]:
import pandas as pd
import numpy as np

In [21]:
# Importing weather data
weather_data = pd.read_csv("data/weather_2019_2021.csv")

C:\Users\cardo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,2,3,4,5,6,9,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [25]:
# Clean data columns
weather_data.columns = weather_data.columns.map(lambda val: val.strip() if isinstance(val, str) else val)
weather_data.columns

Index(['Aeg', 'Temperatuur', 'Niiskus', '&Otilde;hur&otilde;hk',
       'Tuule kiirus', 'Tuule suund', 'Sademed', 'UV indeks', 'Valgustatus',
       'Kiirgusvoog', 'Radioaktiivsus', 'Sadanud lumi'],
      dtype='object')

In [27]:
# weather_data[weather_data["Sademed"] > 0]
weather_data.dtypes

Aeg                      object
Temperatuur              object
Niiskus                  object
&Otilde;hur&otilde;hk    object
Tuule kiirus             object
Tuule suund              object
Sademed                  object
UV indeks                object
Valgustatus              object
Kiirgusvoog              object
Radioaktiivsus           object
Sadanud lumi             object
dtype: object

In [10]:
# Import bike data
bike_data_2019 = pd.read_csv("data/rattaringlus/2019.csv")
bike_data_2020 = pd.read_csv("data/rattaringlus/2020.csv")
bike_data_2021 = pd.read_csv("data/rattaringlus/2021.csv")

,cyclenumber,unlockedat,unlockedattime,lockedat,lockedattime,startstationserialnumber,startstationname,endstationserialnumber,endstationname,length,yearOfBirth,first3IdNumber
0,90417.0,2019-06-02,11:56:01,2019-06-02,11:58:37,WH,Warehouse,WH,Warehouse,0.00,1980.0,386
1,90461.0,2019-06-02,17:41:53,2019-06-02,17:43:10,WH,Warehouse,WH,Warehouse,0.06,1980.0,386
2,2058.0,2019-06-03,11:19:48,2019-06-03,12:30:41,WH,Warehouse,WH,Warehouse,0.00,1980.0,386
3,2421.0,2019-06-03,12:47:10,2019-06-03,12:53:28,55,Pirogovi plats,55,Pirogovi plats,0.96,NaN,NaN
4,2359.0,2019-06-03,12:52:33,2019-06-03,12:54:08,55,Pirogovi plats,55,Pirogovi plats,0.01,1994.0,494
...,...,...,...,...,...,...,...,...,...,...,...,...
84999,2514.0,2021-04-30,23:52:51,2021-05-01,00:28:09,01,Kalda tee,01,Kalda tee,6.82,2002.0,602
85000,2384.0,2021-04-30,23:53:50,2021-05-01,00:15:46,78,Ringtee,78,ERM,6.69,1973.0,473
85001,2227.0,2021-04-30,23:53:53,2021-04-30,23:58:42,01,Kalda tee,01,Põhja puiestee,1.22,1940.0,340
85002,2537.0,2021-04-30,23:54:30,2021-05-01,00:02:03,11,Põhja puiestee,11,Sõpruse sild,2.35,NaN,NaN
85003,2419.0,2021-04-30,23:54:30,2021-05-01,00:03:52,69,Kivilinna,69,Orava,2.79,NaN,397

In [20]:
# Clean bike data by only including data in daterange march 1st to oct 31st
bike_data_2019 = bike_data_2019[(bike_data_2019["unlockedat"] > "2019-03-01") & (bike_data_2019["unlockedat"] < "2019-10-31")]
bike_data_2020 = bike_data_2020[(bike_data_2020["unlockedat"] > "2020-03-01") & (bike_data_2020["unlockedat"] < "2020-10-31")]
bike_data_2021 = bike_data_2021[(bike_data_2021["unlockedat"] > "2021-03-01") & (bike_data_2021["unlockedat"] < "2021-10-31")]

bike_data_2019 = bike_data_2019.append(bike_data_2020)
bike_data = bike_data_2019.append(bike_data_2021)

bike_data = bike_data.sort_values(by="unlockedat")
bike_data

,cyclenumber,unlockedat,unlockedattime,lockedat,lockedattime,startstationserialnumber,startstationname,endstationserialnumber,endstationname,length,yearOfBirth,first3IdNumber
0,90417.0,2019-06-02,11:56:01,2019-06-02,11:58:37,WH,Warehouse,WH,Warehouse,0.00,1980.0,386
1,90461.0,2019-06-02,17:41:53,2019-06-02,17:43:10,WH,Warehouse,WH,Warehouse,0.06,1980.0,386
16,2413.0,2019-06-03,16:59:08,2019-06-03,17:40:54,55,Pirogovi plats,55,Pirogovi plats,6.59,NaN,NaN
15,2288.0,2019-06-03,16:57:41,2019-06-03,17:07:50,55,Pirogovi plats,55,Pirogovi plats,0.43,1983.0,NaN
14,2422.0,2019-06-03,16:50:13,2019-06-03,17:40:38,55,Pirogovi plats,55,Pirogovi plats,7.20,2006.0,506
...,...,...,...,...,...,...,...,...,...,...,...,...
82912,2096.0,2021-04-30,14:44:26,2021-04-30,14:54:00,08,Anne saun,08,Orava,2.46,NaN,504
82913,2102.0,2021-04-30,14:44:29,2021-04-30,14:55:24,04,Mõisavahe,04,Annelinna kiir,2.42,NaN,NaN
82914,2387.0,2021-04-30,14:46:15,2021-04-30,15:13:54,45,Soola,45,Tamme gümnaasium,3.35,1994.0,494
82916,2347.0,2021-04-30,14:47:30,2021-04-30,14:52:29,18,Näituse,18,Veeriku,0.83,1997.0,497
85003,2419.0,2021-04-30,23:54:30,2021-05-01,00:03:52,69,Kivilinna,69,Orava,2.79,NaN,397

In [30]:
# Import covid data
covid_data_raw = pd.read_csv("data/covid.csv")
covid_data_raw = covid_data_raw.sort_values(by="StatisticsDate")
covid_data_2020 = covid_data_raw[(covid_data_raw["StatisticsDate"] > "2020-03-01") & (covid_data_raw["StatisticsDate"] < "2020-10-31")]
covid_data_2021 = covid_data_raw[(covid_data_raw["StatisticsDate"] > "2021-03-01") & (covid_data_["StatisticsDate"] < "2021-10-31")]
covid_data

Empty DataFrame
Columns: [id, Gender, AgeGroup, Country, County, ResultValue, StatisticsDate, ResultTime, AnalysisInsertTime]
Index: []

In [ ]:
# Clean covid data