<a href="https://colab.research.google.com/github/kerdokurs/ids_project/blob/master/IDS_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IDS Project

TODO: Datasetidest üleliigsete andmete eemaldus (covid, ilmastik, rattaringlus datasetides jätta alles andmed vahemikus märts 01 kuni okt 31.)

In [ ]:
import pandas as pd
import numpy as np

In [19]:
# Importing weather data
weather_data = pd.read_csv("weather_2019_2021.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
# Clean data columns
weather_data.columns = weather_data.columns.map(lambda val: val.strip() if isinstance(val, str) else val)
weather_data.columns

Index(['Aeg', 'Temperatuur', 'Niiskus', 'Õhurõhk', 'Tuule kiirus',
       'Tuule suund', 'Sademed'],
      dtype='object')

In [22]:
weather_data[weather_data["Sademed"] > 0]

                        Aeg     Temperatuur  ...        Tuule suund Sademed
366     2019-05-02 07:30:00   5.99891687657  ...   254.924661733355   0.054
367     2019-05-02 07:35:00    5.7834079602  ...   247.486808173661   0.032
368     2019-05-02 07:40:00   5.58989974937  ...   256.677936089867   0.066
373     2019-05-02 08:05:00   5.28606060606  ...   218.593970255567   0.250
374     2019-05-02 08:10:00   5.19432835821  ...    213.40708656978   0.097
...                     ...             ...  ...                ...     ...
265799  2021-10-28 22:50:00         11.7015  ...            252.864   0.031
265802  2021-10-28 23:05:00         11.5861  ...            259.155   0.056
265803  2021-10-28 23:10:00         11.5516  ...            260.815   0.032
265812  2021-10-28 23:55:00         11.5132  ...            261.882   0.051
265824  2021-10-29 00:55:00          11.025  ...            259.585   0.067

[11448 rows x 7 columns]